<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- links for noty.js to display notifications -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css" integrity="sha512-0p3K0H3S6Q4bEWZ/WmC94Tgit2ular2/n0ESdfEX8l172YyQj8re1Wu9s/HT9T/T2osUw5Gx/6pAZNk3UKbESw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js" integrity="sha512-lOrm9FgT1LKOJRUXF3tp6QaMorJftUjowOWiDcG5GFZ/q7ukof19V0HKx/GWzXCdt9zYju3/KhBNdCLzK8b90Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    <link rel="stylesheet" href="/Css/layout.css">
    <title>jibby Lab's</title>
    <%-style%>
</head>

<body>
    <h1 id="header">

     
        <% if(locals.user){ %>
            <a class="cardHeading" href="/home">Jibby Lab's</a> 
            <div>
                <button id="MyPosts" class="MyPosts">
                    <a href="/post/myposts">
                        My Posts <i class="fa-solid fa-envelopes-bulk"></i>
                    </a>
            </button>
        </div>


            <div>
                <button id="logOut" class="logOut">
                    <a href="/signOut">
                        Logout <i class="fa-solid fa-person-walking-arrow-right"></i> 
                     </a>
            </button>
            <%=user.name%>
        </div>
        <%}else{%>
            <a class="cardHeading" href="/">Jibby Lab's</a> 
            <div>
                <button id="logIn" class="logIn">
                 <a href="/signIn">   
                     Sign in <i class="fa-solid fa-user"></i>
                    </a>
                </button>
            
            
                <button id="signUp" class="signUp">
                 <a href="/signUp">Sign up <i class="fa-solid fa-square-plus"></i>

                 </a> 
                </button>
            </div>
                
            
            <%}%>
    </h1>

    <!-- code for displaying success messages -->
    <% if(flash.success && flash.success.length > 0){%>
        <script>
            new Noty({
                    text: '<%=flash.success%>',
                    type:'success',
                    theme:'mint',
                    layout:'topRight',
                    timeout:'1000'
                }).show();
        </script>
        
    <!-- code for displaying error messages -->
         <%} else if(flash.error && flash.error.length > 0){%>
         
            <script>
                new Noty({
                        text: '<%=flash.error%>',
                        type:'error',
                        theme:'mint',
                        layout:'topRight',
                        timeout:'1000'
                    }).show();
            </script>
            
    <!-- code for displaying Info messages -->
             <%}else if(flash.info && flash.info.length > 0){%>
         
                <script>
                    new Noty({
                            text: '<%=flash.info%>',
                            type:'warning',
                            theme:'mint',
                            layout:'bottomRight',
                            timeout:'700'
                        }).show();
                </script>
                 
        <!-- code for displaying Info messages -->
        <%}else if(flash.warning && flash.warning.length > 0){%>
         
            <script>
                new Noty({
                        text: '<%=flash.warning%>',
                        type:'error',
                        theme:'relax',
                        layout:'bottomRight',
                        timeout:'700'
                    }).show();
            </script>
             <%}%>

                 <!-- the below body renders data of different pages having body tag -->
    <%-body%>
                <!-- the below script renders data of different pages having script tag -->
    <%-script%>
    <script src="https://kit.fontawesome.com/7d7d520dab.js" crossorigin="anonymous"></script>
</body>
</html>