

<div id="editForm_div">
    <hr>
    <img id="profile_pic" src="<%=users.avatar%>" alt="<%=users.name%>" width="100" >
    <%if(user.id == users.id){%>
    
        <form action="/editProfile/<%=users.id%>" method="post" class="editProfile" enctype="multipart/form-data">
            <div class="formChildren">
                <label for="name" class="nameLabel">Name: </label>
            <input class="nameInput" type="text" name="name" id="name" value="<%= users.name%>" required>
            </div>
            
            <div class="formChildren">
                <label for="email" class="emailLabel">Email: </label>
            <input class="emailInput" type="email" name="email" id="email" value="<%= users.email%>" required >
            </div>
            
            <div class="formChildren">
            <label for="password" class="passwordLabel">Password:</label>
            <input class="passwordInput" type="password" name="password" id="password"  minlength="6" value="<%= users.password%>" required>  
            </div>
            
            <div class="formChildren">
            <label for="confirmPassword" class="CpasswordLabel">Confirm Password:</label>
            <input class="CpasswordInput" type="password" name="confirmPassword" id="confirmPassword" value="<%= users.password%>" minlength="6" required>
            </div>
            
            <div class="formChildren">
            <label for="age" class="ageLabel">D.O.B:</label>
            <input class="ageInput" type="date" name="age" id="age" value="<%= users.age%>" required> 
            </div>
    
                <input id="profile_pic_input" type="file" name="avatar" />
              
            <button class="submitInput" type="submit" type="submit">Update 
                <i class="fa-solid fa-floppy-disk"></i>
            </button>
            <!-- <input class="submitInput" type="submit" value="Update Profile"> -->
        </form>
    
    <%}else{%>
    <h2 id="friends_username">
       <%= users.name %>
    </h2>
    <h4 id="friends_email">
        <%=users.email%>
    </h4>
    <%}%>
    
</div>
